<% for (const comment of comments) { %>
<div class="row rounded gy-2 bg-dark bg-gradient my-3 py-2 mx-auto">
  <div class="col-2">
    <img src="<%= comment.user.avatar  %>" class="img-fluid rounded-circle" alt="img-avatar" />
  </div>
  <div class="col-10 text-white">
    <h5><%= comment.user.firstname%></h5>
    <small class="fst-italic"><%= formatDistance(new Date(),comment.createdAt) %></small>
    <p class="fw-light"><%= comment.content %></p>
  </div>
</div>
<% } %>
