<footer>
  <section class="container">
    <div class="row w-100">
      <div class="col">
        <h3>About Eleven</h3>
        <p class="footer_about">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, illo! Iure quas accusamus
          laboriosam maxime perferendis! Adipisci perspiciatis quam suscipit fuga pariatur veritatis
          ipsum laboriosam, nam nostrum.
        </p>
      </div>

      <div class="col">
        <h3>
          Team
          <div class="bottom_line m-1"><span></span></div>
        </h3>
        <ul class="list-group list-group-flush">
          <li class="list-item">Alan Torino</li>
          <li class="list-item">Pablo Sarasua</li>
          <li class="list-item">Aline Farías</li>
        </ul>
        <p class="footer_email">elevenblog@gmail.com</p>
      </div>
      <div class="col">
        <h3>
          Links
          <div class="bottom_line m-1"><span></span></div>
        </h3>
        <ul class="list-group list-group-flush">
          <li class="list-item">
            <a href="/">HOME</a>
          </li>
          <li class="list-item"><a href="/about-us">ABOUT US</a></li>
          <li class="list-item"><a href="/contact">CONTACT US</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>
          Newsletter
          <div class="bottom_line m-1"><span></span></div>
        </h3>
        <form>
          <ion-icon class="icon" name="mail"></ion-icon>
          <input type="email" placeholder="Enter your email" required />
          <button type="submit">
            <ion-icon class="icon_right" name="arrow-round-forward"></ion-icon>
          </button>
        </form>
        <div class="social_icons">
          <ion-icon class="social_icon" name="logo-facebook"></ion-icon>
          <ion-icon class="social_icon" name="logo-whatsapp"></ion-icon>
          <ion-icon class="social_icon" name="logo-twitter"></ion-icon>
          <ion-icon class="social_icon" name="logo-instagram"></ion-icon>
        </div>
      </div>
    </div>
    <hr />
    <p class="copyright">Blog Eleven Ⓒ 2023 - All Rights Reserved - Hack Academy</p>
  </section>
</footer>
