<form
  class="form-control bg-light my-4"
  method="post"
  action="/comentarios/<%= article.id %>/create"
>
  <h3 class="fs-1 fw-normal my-4">Escribe un comentario</h3>
  <textarea
    class="form-control mb-3"
    placeholder="Ingrese su comentario aquí..."
    id="comment"
    name="comment"
    rows="10"
  ></textarea>

  <button class="btn btn-dark mb-5" type="submit">Share</button>
</form>
