<section class="container">
  <form>
    <h4>Enviar Comentarios</h4>
    <div>
      <textarea
        class="form-control mb-3"
        placeholder="Ingrese su comentario aquí..."
        id="comment"
        name="comment"
        style="height: 100px"
      ></textarea>
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" />
    </div>
    <div class="mb-5">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Email"
      />
      <div id="emailHelp" class="form-text">
        Tu dirección de correo electrónico no será publicada.
      </div>
    </div>

    <button class="btn-enviar-comentario mb-5" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span> Enviar Comentario
    </button>
  </form>
</section>
