<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a href="/"
      ><button data-text="Awesome" class="btn-eleven">
        <span class="actual-text">&nbsp;Eleven&nbsp;</span>
        <span class="hover-text" aria-hidden="true">&nbsp;Eleven&nbsp;</span>
      </button></a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about-us">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/contact">Contacts</a>
        </li>
        <% if (locals.user === undefined){ %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/panel/login"
            ><ion-icon name="person-circle-outline"></ion-icon> Login</a
          >
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"> Welcome <%= user.firstname %></a>
        </li>

        <% } %> <% if (locals.user !== undefined && locals.user.roleCode >= 200) { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/panel/admin"
            ><ion-icon name="person-circle-outline"></ion-icon> Admin</a
          >
        </li>

        <% } %> <% if (locals.user !== undefined && locals.user.permissions === 400){ %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/panel/admin"
            ><ion-icon name="person-circle-outline"></ion-icon> Admin</a
          >
        </li>

        <% } %>
        <li class="nav-item">
          <a class="nav-link text-red" aria-current="page" href="/panel/logout"> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
