/* Colocar aquí CSS "propio" */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

#box1 {
  padding: 30px;
}

/* === btn-eleven style ===*/
.btn-eleven {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* btn-eleven styling */
.btn-eleven {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on btn-eleven */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.btn-eleven:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

body {
  background: rgb(214, 214, 214);
  background: linear-gradient(
    90deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(214, 214, 214, 1) 100%
  );
}

/*/----css*footer--*/

.main {
  width: 100%;
  height: 100vh;
  background: #212529;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 5%;
  overflow-x: hidden;
}

.content {
  color: #fff;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  font-size: 120px;
  line-height: 140px;
  font-weight: 600;
  opacity: 0;
}

.content p {
  line-height: 28px;
  opacity: 0;
}

.links {
  margin-top: 30px;
  opacity: 0;
}

.links button {
  width: 200px;
  padding: 15px 0;
  margin: 0 15px;
  text-align: center;
  transition: 0.5s;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  border: 2px solid #37ff8b;
  cursor: pointer;
  color: #fff;
  border-radius: 25px;
  background: transparent;
}

.anim {
  animation: slideUp 1s linear forwards;
  animation-delay: 1s;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

p.anim {
  animation-delay: 2s;
}

.links.anim {
  animation-delay: 3s;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}

.content button span {
  background: #37ff8b;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.content button:hover span {
  width: 100%;
}

.content button:hover {
  border: 0;
}

footer {
  width: 100%;
  background: #212529;
  color: #fff;
  padding: 50px 0 30px;
  font-size: 13px;
  line-height: 20px;
}



.footer_logo {
  width: 80px;
  position: relative;
  top: -23px;
  left: -20px;
}



.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer_email {
  width: fit-content;
  border-bottom: 1px solid #37ff8b;
  margin: 20px 0;
}

.col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #37ff8b;
  margin-bottom: 50px;
}

.col form .icon {
  font-size: 18px;
  margin-right: 10px;
}

.col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.col form button .icon_right {
  font-size: 16px;
  color: #ccc;
}

.col .social_icons .social_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #767676;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

footer .copyright {
  text-align: center;
}

.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
}

.bottom_line span {
  width: 15px;
  height: 100%;
  background: #37ff8b;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}

@keyframes moveline {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}