@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

/* Colocar aquí CSS "propio" */
/* verde maquina #8cb1a6 */

/* === removing default btn-eleven style ===*/
.btn-eleven {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* btn-eleven styling */
.btn-eleven {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on btn-eleven */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.btn-eleven:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

body {
  background-color: #9e9e9e;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.btn-ver-mas {
  color: #212529;
}

.card-black {
  width: 800px;
  height: 200px;
  border-radius: 30px;
  background: #212529;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  color: white;
  margin: 80px;
  padding: 25px;
}

.btn-enviar-comentario {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #212529;
  background: #212529;
  color: #37ff8b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn-enviar-comentario:hover {
  box-shadow: 0 0 10px #37ff8b, 0 0 25px #006b83, 0 0 50px #37ff8b;
  transition-delay: 0.6s;
}

.btn-enviar-comentario span {
  position: absolute;
}

.btn-enviar-comentario span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #37ff8b);
}

.btn-enviar-comentario:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.btn-enviar-comentario span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #006b83);
}

.btn-enviar-comentario:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.btn-enviar-comentario span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #37ff8b);
}

.btn-enviar-comentario:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.btn-enviar-comentario span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #006b83);
}

.btn-enviar-comentario:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.btn-enviar-comentario:active {
  background: #37ff8b;
  background: linear-gradient(to top right, #37ff8b #006b83);
  color: #bfbfbf;
  box-shadow: 0 0 8px #37ff8b, 0 0 8px #006b83, 0 0 8px #37ff8b;
  transition: 0.1s;
}

.btn-enviar-comentario:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

/*/----css*footer--*/

.main {
  width: 100%;
  height: 100vh;
  background: #212529;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 5%;
  overflow-x: hidden;
}

.content {
  color: #fff;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content h1 {
  font-size: 120px;
  line-height: 140px;
  font-weight: 600;
  opacity: 0;
}
.content p {
  line-height: 28px;
  opacity: 0;
}
.links {
  margin-top: 30px;
  opacity: 0;
}
.links button {
  width: 200px;
  padding: 15px 0;
  margin: 0 15px;
  text-align: center;
  transition: 0.5s;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  border: 2px solid #37ff8b;
  cursor: pointer;
  color: #fff;
  border-radius: 25px;
  background: transparent;
}
.anim {
  animation: slideUp 1s linear forwards;
  animation-delay: 1s;
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
p.anim {
  animation-delay: 2s;
}
.links.anim {
  animation-delay: 3s;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
.content button span {
  background: #37ff8b;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.content button:hover span {
  width: 100%;
}
.content button:hover {
  border: 0;
}
footer {
  width: 100%;
  background: #212529;
  color: #fff;
  padding: 50px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}
.footer_logo {
  width: 80px;
  position: relative;
  top: -23px;
  left: -20px;
}
.footer_about {
  position: relative;
  top: -23px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.footer_email {
  width: fit-content;
  border-bottom: 1px solid #37ff8b;
  margin: 20px 0;
}
.col ul li {
  list-style: none;
  margin-bottom: 12px;
}
.col ul li a {
  text-decoration: none;
  color: #fff;
}
.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #37ff8b;
  margin-bottom: 50px;
}
.col form .icon {
  font-size: 18px;
  margin-right: 10px;
}
.col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
.col form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.col form button .icon_right {
  font-size: 16px;
  color: #ccc;
}
.col .social_icons .social_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #767676;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
footer .copyright {
  text-align: center;
}
.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.bottom_line span {
  width: 15px;
  height: 100%;
  background: #37ff8b;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}
@keyframes moveline {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.footer_logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #767676;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}
