<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%-include("../partials/navbar") %>

    <div class="container">
      <form class="mx-auto border mt-5 shadow rounded" method="post" action="/panel/admin/create">
        <div class="bg-light m-0 p-0 w-100">
          <h1 class="fs-3 p-2">Crear nuevo articulo</h1>
        </div>
        <div class="mb-3 p-2">
          <label for="title" class="form-label fw-bold">Titulo</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="title"
            placeholder="Ingresar titulo..."
          />
        </div>
        <div class="mb-3 p-2">
          <label for="content" class="form-label fw-bold">Contenido</label>
          <textarea
            class="form-control"
            name="content"
            id="content"
            placeholder="Ingresar contenido..."
          ></textarea>
        </div>
        <div class="mb-3 p-2">
          <label for="image" class="form-label fw-bold">Image</label>
          <input
            type="text"
            class="form-control"
            id="image"
            name="image"
            placeholder="Inresar url de imagen..."
          />
        </div>
        <div class="mb-3 p-2">
          <label for="userId" class="form-label fw-bold">UserID</label>
          <input
            type="number"
            class="form-control"
            id="userId"
            name="userId"
            placeholder="Inresar userId del usuario..."
          />
        </div>
        <button type="submit" class="btn btn-success m-2">Guardar</button>
      </form>
      <div class="container mx-auto my-2 px-2">
        <a class="d-block mx-auto text-decoration-none" href="/panel/admin/">Volver</a>
      </div>
    </div>

    <%-include("../partials/footer") %>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
